<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> 优享商城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Link Swiper's CSS -->
    
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/foot.css">

    <link rel="stylesheet" href="__CSS__/head.css">
    <link rel="stylesheet" href="__ICON__/iconfont.css">
    <script type="text/javascript" src="__JS__/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="__JS__/jquery.touchSlider.js"></script>    
    <!-- Demo styles -->

</head>
<body style="background: #f9f9f9;">
<div class="header">
    <div class="header_l">
      <a href="javascript:window.history.go(-1);"><img src="__IMG__/lpg.png" alt=""><span>分类推荐</span></a>
   
    </div>
    <div class="header_c"><h1></h1></div>
    <!-- <span><a href=""><img src="" alt=""></a></span> -->
</div>

<div  class="mend">
    <ul>
        <foreach name="productList" item="product" key="key">

            <li <if condition="$key%2 neq 0" > id="marign0" </if> >
                <a href="{:U('Home/details',array('proid'=>$product['id']))}">
                    <img src="{$product['pic']}" alt="">
                    <p style="margin-bottom: 3%;">{$product['name']}</p>
                    <p class="jiang">¥{$product['price']}<span>{$product['buy_num']}人付款</span></p>
                </a>
            </li>
        </foreach>

       
    </ul>
</div>

</body>     
</html>
