<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui">
  <title>充值余额</title>
  <link rel="stylesheet" href="__CSS__/balance_style.css">
</head>
<body class="whitebg">
<!--充值余额-->
<div class="rechargeForm2">
    <i>*提示：汇款后请及时通知客服！</i>
    <ul>
    	<li>
        <a>
        	<div><h6>(建设银行)广州乐嘉路支行</h6><span>开户名：桂桂玲</span><span>账户号：6212 2636 6558 990</span></div>
            <span></span>
        </a>
        </li>
        <li>
        <a>
        	<div><h6>(建设银行)广州乐嘉路支行</h6><span>开户名：桂桂玲</span><span>账户号：6212 2636 6558 990</span></div>
            <span></span>
        </a>
        </li>
        <li>
        <a>
        	<div><h6>支付宝</h6><span>开户名：桂桂玲</span><span>账户号：150 1411 5554</span></div>
            <span></span>
        </a>
        </li>
    </ul>
    <ul>
    	<li class="pingzheng">
        <span>上传打款凭证</span>
        <div class="pingzheng_img"><img src="__IMG__/pingzhengpic.jpg"></div>
        <input name="" type="button" value="上传照片" class="btn_upload">
        </li>
    </ul>
</div>
<a href="http://zhu12.hbb98.com/Shop/Home/recharge3.html" class="btn_ok">确定充值</a>


</body>
</html>
 